body {
    font-family: 'SF Pixelate', sans-serif;
    background-color: #92b7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.button-box {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 36px;
}

button {
    font-family: 'SF Pixelate', sans-serif;
    cursor: pointer;
    font-weight: bold;
    background-color: lightslategray;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}


.container {
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.cat-gif {
    position: absolute;
    left: 0;
    margin-left: 150px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: gainsboro;
    box-shadow: 0 0 5px black;
}


#gridBox {
    height: 670px;
    width: 700px;
    border: 2px solid black;
    background-color: white;
}

.row {
    height: 40px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.square {
    height: 40px;
    width: 40px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.footer {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    width: 100px;
    height: 50px;
}